@page "/todo"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MudText>My inaugural side project by request!  Building an attendance tracker for Berringer Martial Arts</MudText>

<MudTreeView AutoExpand="true" ExpandOnClick="true" T="string" ReadOnly>
    <MudTreeViewItem Text="Completed" Expanded>
        <MudTreeViewItem Text="V3 Template setup" />
    </MudTreeViewItem>
    <MudTreeViewItem Text="To Do" Expanded>
        <MudTreeViewItem Text="Auth0 setup" />
        <MudTreeViewItem Text="Design" />
        <MudTreeViewItem Text="Model for student" />
        <MudTreeViewItem Text="Link-based tracking" />
        <MudTreeViewItem Text="QR Code" />
    </MudTreeViewItem>
</MudTreeView> 
