@page "/"
@inject NavigationManager navManager
@inject BMAService bmaService

<h1>Berringer Martial Arts</h1>

<MudText>Please log in for more information.</MudText>

@code {
    [CascadingParameter] public BMAUser? User { get; set; }
    private List<BMAStudent> Students { get; set; } = [];
    protected override void OnInitialized()
    {
        Students = bmaService.GetStudents();
    }
    protected override void OnParametersSet()
    {
        if (User != null && Students.Any(e => e.UserID == User.UserID))
        {
            BMAStudent student = Students.FirstOrDefault(e => e.UserID == User.UserID)!;
            navManager.NavigateTo($"/student/{student.ID}", true);
        }
    }
}

