@page "/"
@inject NavigationManager navManager
@inject BMAService bmaService
@inject ISnackbar Snackbar

<h1>Berringer Martial Arts</h1>

<AuthorizeView>
    <Authorized>
        <MudSimpleTable Striped Bordered>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>View Page</th>
                </tr>
            </thead>
            <tbody>
                @foreach (BMAStudentUser student in User?.Students ?? [])
                {
                    <tr>
                        <td>
                            @Students.FirstOrDefault(e => e.ID == student.StudentID)?.StudentName
                        </td>
                        <td>
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowOutward" Href="@($"/students/{student.StudentID}")" Color="Color.Primary" />
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </Authorized>
    <NotAuthorized>
        <MudText>Please log in for more information.</MudText>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] public BMAUser? User { get; set; }
    private List<BMAStudent> Students { get; set; } = [];
    protected override void OnInitialized()
    {
        Students = bmaService.GetStudents();
    }
    private string errormsg = "";
    protected override void OnParametersSet()
    {
        try
        {
            if (User != null)
            {
                if (User.DashboardAccess)
                {
                    navManager.NavigateTo("/dashboard",true);
                }
                else if (User.Students.Count == 1)
                {
                    navManager.NavigateTo($"/students/{User.Students[0].StudentID}", true);
                }
            }
            
        }
        catch (Exception ex)
        {
            errormsg += ex.Message;
        }
    }
}

